@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

.common-heading{
  font-family: 'Barlow', sans-serif;
  font-size: 54px;
  color: #080A12;
}
/* 
.sm-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
} */

.section-ptb {
    padding: 130px 0px 130px 0px;
}

.m-auto{
    margin: 0 auto;
}

.section-title-three {
    text-align: center;
    position: relative;
}
.mb--80 {
    margin-bottom: 50px;
}

.common-btn{
  padding: 10px 25px;
  background-color: #085291;
  color: #fff;
  font-weight: 600;
  width: max-content;
  display: flex;
  font-size: 16px;
  transition: all .3s ease-in;
}

.common-btn:hover{
  background-color: #fff;
  color: #085291;
  text-decoration: none;
}

/* header css start */

#header{
  position: relative;
}

select#website-select{
  border: none;
  border-radius: 30px;
  padding: 10px 0px;
  }


.upper-header{
    display: flex;
    justify-content: space-between;
    background-color: #085291;
    align-items: center;
    padding: 10px 15px;
}

.logo span{
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

.upper-header p{
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.upper-right-header{
    display: flex;
    gap: 20px;
}

.upper-right-header a{
    background-color: #f8c301;
    padding: 10px 20px;
    border-radius: 30px;
    color: #085291;
    font-weight: 600;
    transition: all .2s ease-in;
}

.upper-right-header a:hover{
    color: #f8c301;
    background-color: #085291;
}

.logo img{
    width: 80px;
}

.footer-logo img{
    width: 150px;
}



.logo{
    display: flex;
    align-items: center;
}

.lower-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #fff;
    color: #085291;
}

.navigation{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
    ul.nav{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: relative;
        padding: 10px 15px;
        justify-content: space-evenly;
        width: 100%;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        cursor: pointer;
        font-weight: 600;
      transition: .3s all ease;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li > a::before{
        content: "";
        position: absolute;
        left: -20px;
        background-image: url('images/menu-hover-icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        opacity: 0;
        transition: all 0.3s linear 0s;
    }

    .nav-li:hover > a::before, .nav-li a.active::before{
        opacity: 1;
        transform: translateY(0);
    }

    .nav-li a.active, .nav-li a:hover{
      color: #f79421;
      font-weight: 700;
    }

  
    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 0;
      top: 161%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      border-radius: 0 0 10px 10px;
      text-align: left;
      width: 250px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
      font-weight: 600;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #f8c301;
    }
    
    ul.nav li .dropdown a span{
      padding-right: 15px;
    }
    
/* header css end */


/* enquiry form popup css start */

.enquiry-popup {
  display: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.enquiry-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.close-enquiry-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

#enquiryForm{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}

.grade .radio-btns{
  display: flex;
  gap: 10px;
}

.grade,
.transport {
  margin: 10px 0;
}

label {
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

form input[type="radio"] {
  margin-right: 5px;
}

.btn-submit {
  background-color: #085291;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.btn-submit:hover {
  background-color: #f8c301;
  color: #085291;
}

/* Ensuring the content stays vertically centered */
.enquiry-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* enquiry form popup css end */


/* menu css start */

.mobile-header{
  background-color: #085291;
  padding: 10px 20px;
}

.mobile-logo img{
  width: 60px;
}

.mobile-header{
  display: none;
}

.menu_side_wrap {
  position: absolute;
  z-index: 20000;
  right: 20px;
  top: 15px;
  width: 60px;
}

.menu_side_inner{
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_button_text {
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.menu_side_wrap .menu_mobile_button {
  display: block;
  right: 50%;
  top: 10px;
  font-size: 30px;
  z-index: 1;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 100%;
  height: auto;
  cursor: pointer;
  position: absolute;
}

.menu_mobile_button {
  color: #ffffff;
}

.menu_side_wrap .menu_mobile_button:hover{
  color: #fcbb04;
}

.menu_mobile_overlay {
  display: none !important;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 20px;
  background-color: rgba(0,0,0,0.8);
}

.menu_mobile {
  position: fixed;
  z-index: 100002;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  margin-left: -300px;
  -webkit-transition: margin ease .3s;
  -moz-transition: margin ease .3s;
  -ms-transition: margin ease .3s;
  -o-transition: margin ease .3s;
  transition: margin ease .3s;
}
/* 
.opened {
  margin-right: 0 !important;
} */

.menu_mobile_inner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  background-color: #085291;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_inner a {
  color: #ffffff;
}

.icon-cancel{
  color: #ffffff;
}

.menu_mobile_close {
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25em;
  margin: 2em 2em 0 0;
}

.menu_mobile_close::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  border-color: #ffffff;
}

.menu_mobile_close::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  border-color: #ffffff;
}

.accordion-item .accordion-title{
  position: relative;
  padding: 10px 30px 10px 0;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
  padding: 0;
  margin: 0;
}

.accordion-content.active{
  max-height: auto;
}

.accordion-content ul li{
  list-style-type: none;
  padding: 3px 0px;
}

.accordion-content ul li:hover a, .accordion-content ul li.active a{
  color: #fcbb04;
}

.accordion-item.active .accordion-content{
  /* line-height: 24; */
  font-size: 13px;
  text-transform: uppercase;
}

.accordion-item .accordion-title::before{
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 17px;
  top: 7px;
}

.accordion-item.active .accordion-title::before{
  content: "-";
  font-size: 17px;
  top: 7px;
}

.gallery::before{
  display: none;
}

/* menu css end */



/* carousel css start */

#carousel .carousel-item.boat {
    background-image: url('images/banner1.jpg');
  }
  
  #carousel .carousel-item.sea {
    background-image: url('images/banner2.jpg');
  }

  .carousel-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0,0,0,1);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  
  #carousel .carousel-item {
    /* height: 100vh; */
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
    position: relative;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }

  #carousel .carousel-item .caption{
    display: flex;
    align-items: center;
    margin: 0% 50% 5% 0%;
    padding: 200px 0px 0px 0px;
  }
  
  #carousel .carousel-item .caption-inner {
    color: white;
    animation-duration: .5s;
    animation-delay: .5s;
  }

  #carousel .carousel-item .caption h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
  }

  #carousel .carousel-item{
    position: relative;
  }

  .carousel-img1-corner{
    width: 50%;
    position: absolute;
    right: 5%;
    top: -15%;
  }


  .divider-line:not(:last-child){
    margin-bottom: 20px;
  }

  .divider-line-inner{
    margin: 200px 0px 0px 0px;
  }

  .main-divider{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
  }

  .main-divider span{
    width: 98%;
    margin: 0 auto;
    display: flex;
    direction: ltr;
    border-top: 2px solid #FFFFFF70;
  }

  .animated {
    animation-fill-mode: both;
}

.fadeIn{
    animation-name: fadeIn;
}
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: .3s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: .5s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: .7s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #f8c301;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #085291;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #085291;
    border-color: #085291;
  }


  .carousel-content{
    margin-top: -40px;
    margin-bottom: 0px;

  }

  .carousel-desc{
    margin: 30px 64px 30px 0px;
    padding: 10px;
    position: relative;
    width: 100%;
  }

  .carousel-desc-inner{
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .carousel-icon{
    color: #fff;
    margin: 0px 0px 0px 0px;
    transition: all .4s ease;
  }

  .carousel-icon img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .carousel-info{
    color: #fff;
  }

  .carousel-info h4{
    font-family: 'Barlow', sans-serif;
  }

/* carousel css end */

/* yellow div css start */

.yellow-div{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
    background-color: #f8c301;
}

.yellow-div-content h3{
    color: #080A12;
    font-weight: 600;
    font-family: 'Barlow';
}

.yellow-div-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* yellow div css end */

/* about div css start */

.about-content{
  background-color: #f8fbff;
}

.about-content-inner{
  display: grid;
  grid-template-columns: 7.5fr 4.5fr;
  gap: 30px;
  align-items: center;
}

.about-right img{
  width: 100%;
}

.news-event-content .news-event-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.news-div{
  background-color: #085291;
  color: #fff;
  padding: 20px;
}

.event-div{
  background-color: #f8c301;
  color: #080A12;
  padding: 20px;
}

.news-list marquee{
  margin-top: 15px;
}

.news-list li{
  padding: 5px 20px;
}

.news-list li span img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.event-list{
  margin-top: 15px;
}

.event-list li{
  padding: 5px 20px;
  font-weight: 600;
}

.event-list li span{
  margin-right: 10px;
}

.about-info p{
  text-align: justify;
  color: #080A12;
  font-weight: 500;
}


/* about div css end */


/* mission div css start */

.mission-imgs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px;
}

.mission1-img{
  width: 100% !important;
}

.mission-imgs img{
    width: 70%;
}

.upper-mission-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.right-upper-mission-imgs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.dot-img-sm{
    width: 15% !important;
    margin-bottom: 20px;
}

.lower-mission-imgs{
  display:flex;
  flex-direction: row;
  gap: 15px;
}

.lower-mission-imgs img:first-child{
  width: 10%;
  height: 60px;
}

.mission-info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mission-info img{
  width: 25%;
}

.mission-title h4{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.mission-desc{
  margin-top: 60px;
}

/* mission div css end */

/* our proud css start */

.our-proud{
  padding: 100px 0px 55px 0px;
  position: relative;
  background-image: url('images/banner1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-proud-overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #085291;
  opacity: 0.97;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.title{
  display: flex;
  position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.title .container h3{
  margin: 0% 0% 0% 12%;
  padding: 0px 0px 30px 0px;
}

.proud-content{
  margin: 0% 0% 0% 15%;
  padding: 0px 0px 30px 0px;
}

.proud-card{
  padding: 40px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF21;
  min-height: 320px;
}

.row2{
  margin-top: 30px;
}

.proud-card img{
  width: 40px;
}

.proud-card-title h4{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  /* word-break: break-word; */
}


.proud-img{
  background-image: url('images/mission3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px -130px 90px;
  padding: 10px;
  height: 100%;
}


/* our proud css end */


/* achievement css start */

.achievements{
  padding: 120px 0px 80px 0px;
  background-color: #f8fbff;
}

.achievement-desc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.achievement-info{
  display: flex;
  gap: 20px;
}

.achievement-info img{
  width: 50px;
  height: 50px;
}

.achievement-desc h4{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: #080A12;
}

.achievement-img-group{
  display: flex;
  gap: 20px;
  padding: 40px;
}

.left-img-achievement{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.upper-img-achievement img:first-child{
  width: 20%; 
  margin-bottom: 20px;
  float: right;
}

.upper-img-achievement img{
  width: 100%;
}

.lower-img-achievement img{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.right-img-achievement img{
  width: 100%;
  height: 100%;
}


/* achievement css end */


/* news css start */

.news{
  padding: 80px 0px 80px 0px;
  background-image: url('images/banner1.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.news-overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #023AA2;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.news-content{
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.news-content h3{
  background-color: #fcbb04;
  color: #080A12;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px;
}

.blink {
  animation: blinker 3s linear infinite;
  font-weight: bold;
}

.news-content a{
  color: #f8c301;
}

.news-content a:hover{
  text-decoration: none;
  color: #f8c301;
}

/* news css end */


/* photo gallery css start */

.photo-gallery{
  padding: 100px 0px 100px 0px;
  position: relative;
}

.gallery-photo-group{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.single-photo{
  position: relative;
}

.gallery-img-div img{
  width: 100%;
  height: 300px;
}

.gallery-img-overlay{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .6s all ease;
  transition: .6s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  z-index: 10;
  transition: 500ms;
}

.single-photo:hover .gallery-img-overlay{
  visibility: visible;
  opacity: .7;
}

.item-hover-bg{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000000;
  z-index: -1;
  opacity: .7;
}

.item-caption-over {
  width: 100%;
  height: auto;
  text-align: center;
}

.item-buttons a span {
  color: #fff;
  background-color: #2459A8;
  line-height: 50px;
  border-radius: 50%;
  padding: 15px;
}

/* photo gallery css end */




/* modal css start */


  /* The Modal (background) */
  .modal, .modal1, .modal2, .modal3, .modal4{
    display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color:#fff;
  }
  
  /* Modal Content */
  .modal-content {
    background: #fff0;
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
    border: none;
  }
  
  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 55px;
    font-weight: lighter;
    height: 35px;
    width: 35px;
    z-index: 1;
  }
  
  .close:hover,
  .close:focus {
    /* color: #999;
    text-decoration: none; */
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides, .mySlides1, .mySlides2, .mySlides3, .mySlides4{
    display: none;
    width: 35%;
  }

  .mySlides img, .mySlides1 img, .mySlides2 img, .mySlides3 img, .mySlides4 img{
    width: 100%;
    display: flex;
    margin: 0px auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    width: 55px;
    height: 55px;
    color: black;
    font-size: 15px;
    transition: 0.6s ease;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-decoration: none;
  }

  .prev > span, .next > span {
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-55%,-55%);
  }
  
  /*On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: rgba(0, 0, 0);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: fixed;
    bottom: 25px;
    left: 30px;
  }

  .modal-p{
    padding: 10px;
    text-align: center;
    font-weight: 600;
  }
  
/* modal css end */



/* footer css start  */

.footer-inner{
  padding: 50px 0px 0px 0px;
  background-color: #080A12;
  color: #ffffff;
}

.footer-inner .container .row{
  padding-bottom: 30px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #EBECF026;
}

.footer-inner h4{
  font-family: 'Barlow', sans-serif;
}

.footer-inner ul li{
  padding: 5px 0px;
}

.footer-inner ul li span{
  margin-right: 10px;
}

.footer-inner ul li a:hover{
  text-decoration: none;
  color: #f8c301;
}

.footer-links h4{
  margin-bottom: 30px;
}

.lower-footer{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  padding: 25px 0px;
}

.lower-footer p{
  margin: 0;
}

/* footer css end  */


/* fade effects */

.fadeInUp {
    animation-name: fadeInUp;
}

.animated.animated-slow {
    animation-duration: 2s;
}

.fadeIn {
  animation-name: fadeIn;
}
.animated {
  animation-fill-mode: both;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}


@media screen and (max-width:768px) {
  .upper-header, .lower-header{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .section-ptb {
    padding: 80px 30px 80px 30px;
  }

  .common-heading{
    text-align: center;
    font-size: 30px;
  }

  .sm-title{
    text-align: center; 
    font-size: 14px;
  }

  .yellow-div-desc {
    flex-direction: column;
    gap: 15px;
  }

  .mission-imgs, .achievement-img-group{
    padding: 0;
  }

  .mission-imgs img{
    margin: 0 auto;
  }
  
  .mission-info{
    flex-direction: row;
  }

  .mission-info img{
    width: 50px;
    height: 50px;
  }

  .mission-title h4 {
    font-size: 20px;
  }

  .our-proud , .achievements, .photo-gallery{
    padding: 80px 30px 80px 30px;
  }

  .title .container h3, .proud-content {
    margin: 0;
  }

  .proud-content .row{
    gap: 20px;
  }

  .proud-card{
    min-height: auto;
    padding: 20px;
  }

  .proud-img{
    display: none;
  }
  
  .left-img-achievement{
    display: none;
  }

  .achievement-title p, .mission-title p{
    font-size: 14px;
  }

  .news-content p{
    font-size: 14px;
  }

  .gallery-photo-group{
    grid-template-columns: repeat(1, 1fr);
  }

  .mySlides, .mySlides1, .mySlides2, .mySlides3, .mySlides4 {
    width: 50%;
  }
  
  .footer-links h4{
    margin-bottom: 15px;
  }

  .footer-inner .container .row{
    gap: 20px;
  }

  .lower-footer{
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
  }
}

@media screen and (max-width:450px) {
  .upper-header, .lower-header{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .section-ptb {
    padding: 80px 30px 80px 30px;
  }

  .common-heading{
    text-align: center;
    font-size: 30px;
  }

  .sm-title{
    text-align: center; 
    font-size: 14px;
  }

  .yellow-div-desc {
    flex-direction: column;
    gap: 15px;
  }

  .mission-imgs, .achievement-img-group{
    padding: 0;
  }

  .mission-imgs img{
    margin: 0 auto;
  }
  
  .mission-info{
    flex-direction: row;
  }

  .mission-info img{
    width: 50px;
    height: 50px;
  }

  .mission-title h4 {
    font-size: 20px;
  }

  .our-proud , .achievements, .photo-gallery{
    padding: 80px 30px 80px 30px;
  }

  .title .container h3, .proud-content {
    margin: 0;
  }

  .proud-content .row{
    gap: 20px;
  }

  .proud-card{
    min-height: auto;
    padding: 20px;
  }

  .proud-img{
    display: none;
  }
  
  .left-img-achievement{
    display: none;
  }

  .achievement-title p, .mission-title p{
    font-size: 14px;
  }

  .news-content p{
    font-size: 14px;
  }

  .gallery-photo-group{
    grid-template-columns: repeat(1, 1fr);
  }

  .mySlides, .mySlides1, .mySlides2, .mySlides3, .mySlides4 {
    width: 50%;
  }
  
  .footer-links h4{
    margin-bottom: 15px;
  }

  .footer-inner .container .row{
    gap: 20px;
  }

  .lower-footer{
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
  }
}